html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
body { background : #c3dfef;}

#results_section{
	position: relative;
	width: 40%;
	height: 43%;
	top: 25%;
	left: 29%;
	border: 10px solid white;
}

#icon_section,  #info_section {
	float: left;
	display: inline-block;
}

#icon_section {
	margin: 2% 1% 2% 2%;
}

#info_section {
	/*border: 1px solid black;*/
	margin: 2% 2% 2% 1%;
	padding: 0 1%;
	width: 41%;
	height: 91%;
	color: white;
}

#info_section h3 {
	border-bottom: 3px solid white;
	text-align: center;
	color: white;
	padding: 0;
	margin:  2% 0;
}

.one_item_div {
	/*border: 1px solid black;*/
	height: 16%;
	border-bottom: 2px solid white;
}

.key, .value {
	display: inline-block;
}

.key {
	width:48%;
	text-align: left;

}

.value {
	width: 48%;
	text-align: right
}